[submodule "YAP/imgui"]
	path = YAP/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "YAP/glfw"]
	path = YAP/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "YAP/dependencies/relib"]
	path = YAP/dependencies/relib
	url = https://github.com/undisassemble/relib.git
