# CMake files
install_manifest.txt
_CPack_Packages
compile_commands.json
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
Testing

# Other stuff
version.hpp
build
bin
yap.log.txt
yap.config
yap.h
.cache
*.a
YAPClient.rc
yap.rc
*.inc
__pycache__
.vscode
html