# CMake files
install_manifest.txt
_CPack_Packages
compile_commands.json
CMakeCache.txt
CMakeFiles
Makefile
*.cmake

# Other stuff
version.hpp
build
bin
out.exe
tester.exe
yap.log.txt
yap.config
.cache